<div class="container-fluid">
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation" (click)="isMenuCollapsed = !isMenuCollapsed">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" [routerLink]="['/']">Home</a>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Carteiras</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" [routerLink]="['/criar-carteira']" >Nova</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['/carteiras']" >Lista de Carteiras</a></li>
                </ul>
              </li>

              <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown" aria-expanded="false">Transações</a>
                <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                  <li><a class="dropdown-item" [routerLink]="['/adiciona-transacao']">Nova</a></li>
                  <li><hr class="dropdown-divider"></li>
                  <li><a class="dropdown-item" [routerLink]="['/transacoes']">Lista de Transações</a></li>
                </ul>
              </li>
            </ul>
          </div>

          <div>

            <ul class="navbar-nav px-3">
              <li class="nav-item">
                <a class="nav-link" href="#" (click)="deslogar()">Logout</a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
</div>
