<div class="container">
    <h2>{{ titulo ? titulo : 'Adicionar Transação' }}</h2>
    <form>
      <div class="form-group">
          <label for="descricaoTransacao">Descrição</label>
          <input type="text" class="form-control" id="descricaoTransacao" aria-describedby="descricaoTransacaoHelp" placeholder="Descrição da transação"
          [(ngModel)]="transacao.descricao" name="descricao">
          <small id="descricaoTransacaoHelp" class="form-text text-muted">Descrição da transação a ser salva</small>
      </div>

      <div class="form-group">
        <label for="descricaoCarteira">Carteira</label>
        <select class="form-select" aria-describedby="descricaoCarteiraHelp" [(ngModel)]="transacao.carteira" name="carteira" [compareWith]="compareCarteira" id="descricaoCarteira">
          <option value="undefined" >Selecione a carteira</option>
          <option *ngFor="let carteira of carteirasDisponiveis; let index = index" [ngValue]="carteira">{{carteira.nome}}</option>
        </select>
        <small id="descricaoCarteiraHelp" class="form-text text-muted">Informe a carteira a ter a transação registrada</small>
      </div>

      <div class="form-group">
        <label for="tipoTransacao">Tipo</label>
        <select class="form-select" aria-describedby="descricaoTiposTransacoesHelp" [(ngModel)]="transacao.tipoTransacao" name="tipoTransacao" [compareWith]="compareTipoTransacao" id="tipoTransacao">
          <option value="undefined" >Selecione tipo...</option>
          <option *ngFor="let tipo of listaTiposTransacoes" [ngValue]="tipo" >{{ tipo }}</option>
        </select>
        <small id="descricaoTiposTransacoesHelp" class="form-text text-muted">Informe o tipo da transação</small>
      </div>

      <label for="tipoCategoria">Categoria</label>
      <div class="input-group">
        <select class="form-select" aria-describedby="descricaoCategoriaTransacaoHelp" [(ngModel)]="transacao.categoriaTransacao" name="categoriaTransacao" [compareWith]="compareCategoriaTransacao" id="tipoCategoria">
          <option *ngFor="let categoria of listaCategoriaTransacoes" [ngValue]="categoria" >{{ categoria.nome }}</option>
        </select>
        <button class="btn btn-outline-secondary bi bi-plus" (click)="novaCategoria(adicaoCategoria)" type="button"></button>
      </div>
      <small id="descricaoCategoriaTransacaoHelp" class="form-text text-muted">Informe a categoria da transação. Ex: Saúde, Alimentação, Educação...</small>

      <div class="form-group">
        <label for="valorTransacao">Valor</label>
        <input type="text" class="form-control" id="valorTransacao"
        currencyMask [options]="{ prefix: 'R$ ', thousands: '.', decimal: ',' }"
        [(ngModel)]="transacao.valor" name="valor" aria-describedby="valorTransacaoHelp" placeholder="10,00">
        <small id="valorTransacaoHelp" class="form-text text-muted">Valor da transação a ser salva</small>
    </div>

    <div class="input-group">
              <input
                  class="form-control"
                  placeholder="dd/mm/aaaa"
                  name="dp"
                  [(ngModel)]="modelDateAtualizacao"
                  ngbDatepicker
                  (dateSelect)="atualizaData(modelDateAtualizacao)"
                  #d="ngbDatepicker"
                  maxlength="10"
                  (input)="atualizaData(modelDateAtualizacao)"
              />
              <button class="btn btn-outline-secondary bi bi-calendar3" (click)="d.toggle()" type="button"></button>
          </div>
    <ng-container *ngTemplateOutlet="(atualizaTransacaoCustomizado || adicaoTransacao)"></ng-container>
    </form>
  </div>

  <ng-template #adicaoTransacao let-tituloexibido="tituloNovo">
    <button class="btn btn-primary" (click)="salvarTransacao()">Salvar</button>
  </ng-template>

  <ng-template #adicaoCategoria let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Nova Categoria</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <app-create-categoria
        [isExibeTitulo]="false"
        [categoria]="novaCategoriaModel">
          <ng-template #atualizaCategoria>
            <button class="btn btn-primary" (click)="salvarNovaCategoria(novaCategoriaModel)">Salvar</button>
          </ng-template>
        </app-create-categoria>
      </form>
    </div>
  </ng-template>

  <app-toast aria-live="polite" aria-atomic="true" ></app-toast>