<main>
    <div class="container py-4">
      <header class="pb-3 mb-4 border-bottom">
        <a href="login" class="navbar-brand">  
        <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="currentColor" class="bi bi-card-checklist" viewBox="0 2 16 16">
            <path d="M14.5 3a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-13a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5zm-13-1A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h13a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2z"/>
            <path d="M7 5.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 1 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0M7 9.5a.5.5 0 0 1 .5-.5h5a.5.5 0 0 1 0 1h-5a.5.5 0 0 1-.5-.5m-1.496-.854a.5.5 0 0 1 0 .708l-1.5 1.5a.5.5 0 0 1-.708 0l-.5-.5a.5.5 0 0 1 .708-.708l.146.147 1.146-1.147a.5.5 0 0 1 .708 0"/>
        </svg>
          <span class="fs-4">Finanças Pessoais</span>
        </a>
      </header>
  
      <div class="p-5 mb-4 bg-body-tertiary rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Gerencie o seu bolso</h1>
          <p class="col-md-8 fs-4">Mantenha suas finanças em ordem onde quer que esteja com a nossa plataforma</p>
          <a class="btn btn-primary btn-lg" href="login">Acesse já</a>
        </div>
      </div>
  
      <div class="row align-items-md-stretch">
        <div class="col-md-6">
          <div class="h-100 p-5 text-bg-dark rounded-3">
            <h2>Organize suas finanças por carteira</h2>
            <p>Com finanças pessoais, você pode organizar seus gastos criando carteiras. Simples, prático e fácil</p>
          </div>
        </div>
        <div class="col-md-6">
          <div class="h-100 p-5 bg-body-tertiary border rounded-3">
            <h2>Visualização fácil</h2>
            <p>Com nossa funcionalidade de visualização de transações por gráfico, você pode entender suas finanças de forma mais clara e dinâmica. 
                Analise seus gastos e receitas de maneira visualmente impactante, identifique padrões e tome decisões mais inteligentes sobre como gerenciar seu dinheiro. </p> 
          </div>
        </div>
      </div>
  
      <footer class="pt-3 mt-4 text-body-secondary border-top">
        &copy; 2024
      </footer>
    </div>
</main>
