<div class="container">
  <h2>Transações</h2>

  <div class="row mb-4">
    <div class="col mb-5">
      <form class="form-inline" id="form-lista-transacoes">
        <div class="form-row">
          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="carteiraSelecionada" id="select-carteira" name="mes-transacao" (change)="alteraCarteiraSelecionada()">
              <option selected value="0" >Carteira...</option>
              <option *ngFor="let carteira of carteirasDisponiveis; let index = index" value="{{carteira.id}}">{{carteira.nome}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="anoTransacaoSelecionado" name="ano-transacao" (change)="alteraAnoTransacao()">
              <option selected value="0" >ano...</option>
              <option *ngFor="let anoTransacao of anosTransacoes" value="{{anoTransacao.ano}}">{{anoTransacao.ano}}</option>
            </select>
          </div>

          <div class="form-group col-md-2">
            <select class="form-control" [(ngModel)]="mesTransacaoSelecionado" id="select-mes-transacao" name="mes-transacao">
              <option selected value="0" >mês...</option>
              <option *ngFor="let mes of obtemListaMesesDisponiveis(); let index = index" value="{{mes.valor}}">{{mes.nome}}</option>
            </select>
          </div>

          <div>
            <button type="submit" class="btn btn-primary" (click)="atualizaListaTransacao();" >Atualizar</button>
          </div>
        </div>
      </form>
    </div>

    <div class="col-md-4">
      <app-resumo-mes
      [resumoMes]="resumoMes"
      ></app-resumo-mes>
    </div>
  </div>

  <div class="row mb-4">
    <div class="col-md-6" id="chart-pie-despesas" *ngIf="despesasChartLabels.length > 0">
      <h3>Despesas</h3>
      <app-pie-chart
        [streamData]="despesasChartValues"
        [pieChartLabels]="despesasChartLabels"
      ></app-pie-chart>
    </div>
  
    <div class="col-md-6" id="chart-pie-receitas" *ngIf="receitasChartLabels.length > 0">
      <h3>Receitas</h3>
      <app-pie-chart
        [streamData]="receitasChartValues"
        [pieChartLabels]="receitasChartLabels"
      ></app-pie-chart>
    </div>
  </div>

  <div class="table-responsive">
    <table class="table table-borderless">
      <thead>
        <th class="col">#</th>
        <th class="col">Dia</th>
        <th class="col">Descrição</th>
        <th class="col">Categoria</th>
        <th class="col">Valor</th>
        <th><!-- edit and delete --></th>
      </thead>
      <tbody>
        <tr *ngFor="let transacao of transacoes; let i = index">
          <th style="width: 10%;" scope="row">{{ i + 1 }}</th>
          <td style="width: 10%;" >{{ transacao.dataTransacao | date: 'dd' }}</td>
          <td style="width: 50%;">{{ transacao.descricao }}</td>
          <td style="width: 10%;">{{ transacao.categoriaTransacao ? transacao.categoriaTransacao.nome : 'N/A' }}</td>
          <td style="width: 10%;" [ngClass]="isDebitoNaCarteira(transacao) ? 'money-red' : 'money-green'" >{{ transacao.valor | currency:'BRL' }}</td>
          <td style="width: 10%;">
            <button type="button" class="btn btn-primary" (click)="editarTransacao(content, transacao)" ><i class="bi bi-pencil-square"></i></button>
            <button type="button" class="btn btn-danger" (click)="removerTransacao(carteiraSelecionada, transacao)"><i class="bi bi-trash"></i></button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Atualização de Transação</h4>
      <button type="button" class="btn-close" aria-label="Close" (click)="modal.dismiss('Cross click')"></button>
    </div>
    <div class="modal-body">
      <form>
        <app-create-transacao
          [titulo]="' '"
          [transacaoASerAtualizada]="trasacaoParaAlteracao"
          [modelDateAtualizacao]="modelDateParaAtualizar"
          (dataAtualizadaOutput)="atualizaDataTransacao($event)">

          <ng-template #atualizaTransacao let-tituloBotao="tituloBotao">
            <button class="btn btn-primary" (click)="atualizarTransacao(trasacaoParaAlteracao.carteira?.id, trasacaoParaAlteracao)">Atualizar</button>
          </ng-template>
        </app-create-transacao>
      </form>
    </div>
    <!-- <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Atualizar</button>
    </div> -->
  </ng-template>
</div>
